<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Voter</title>
</head>
<body>
  <h1>Year List</h1>
  {% if object_list %}
  <ul>
    {% for object in object_list %}
      <li>
          {% if object.my_votes__value %}
            <a href="/polls/vote/{{ object.my_votes__id }}/update-value/">{{object}}</a>
          {% else %}
            <a href="/polls/vote/create/{{ object.vote_year }}">{{object}}</a>
          {% endif %}
      </li>
    {% endfor %}
  </ul>
  {% else %}
    <p>There are no years in the library.</p>
  {% endif %}
</body>
</html>
